@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  cursor: url("logo2.png"), auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  cursor: url("logo2.png"), auto;
  box-sizing: border-box;
}

#myVideo {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  box-sizing: border-box;
}

.home {
  padding: 2% 5.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  .navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      z-index: 2;

      img {
        height: 4rem;
      }
    }

    .menu {
      .menu_items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        .item {
          text-decoration: none;
          color: #ffffff;
          font-size: 1.2rem;
          font-weight: 500;
          flex-wrap: nowrap;
          padding-right: 3rem;
          transition: 0.5s ease;
        }

        .item:hover {
          color: #b6b6b6;
        }

        .opensea_btn {
          border-radius: 2px 15px;
          padding: 1.35rem 1.65rem;
          font-size: 1.2rem;
          font-weight: 600;
          height: 2.5rem;
          border: none;
          color: #000000;
          display: flex;
          align-items: center;
          transition: 0.3s ease;
        }
        .opensea_btn:hover {
          background-color: #bebebe;
        }
      }
    }
    .wrapperMenu {
      display: none;
      // width: 2rem;
      // height: 2rem;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // cursor: pointer;
      // transition: transform 330ms ease-out;
    }

    .wrapperMenu.active {
      transform: rotate(-45deg);
    }

    .line-menu {
      background-color: #ffffff;
      border-radius: 5px;
      width: 100%;
      height: 4px;
    }

    .line-menu.half {
      width: 50%;
    }

    .line-menu.start {
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: right;
    }

    .active .line-menu.start {
      transform: rotate(-90deg) translateX(3px);
    }

    .line-menu.end {
      align-self: flex-end;
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: left;
    }

    .active .line-menu.end {
      transform: rotate(-90deg) translateX(-3px);
    }
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .banner_img {
      width: 55%;
      position: absolute;
      top: 40%;
      z-index: -1;
    }
  }

  .social_buttons {
    width: 12rem;
    // position: absolute;
    top: 90%;
    display: flex;
    justify-content: space-between;
    .btn {
      background-color: hsla(0, 0%, 100%, 0.8);
      border-radius: 2px 10px;
      width: 2.8rem;
      font-size: 1.2rem;
      font-weight: 600;
      height: 2.5rem;
      border: none;
      color: #343a48;
      cursor: pointer;
    }
  }
}


.info{
  margin-top: 2rem;
  padding: 2% 5.8%;
  .box{
    color: #ffffff;
    background-color: #000000bb;
    padding: 0.5rem 3rem 1.5rem 3rem; 
    box-sizing: border-box;
    width: 60%;
    
    h1{
      font-size: 3rem;
      font-weight: 500;
    }
    p{
      text-align: justify;
    }
  }
}

@media screen and (max-width: 800px) {
  .menu_items {
    position: fixed;
    right: -200%;
    top: 0;
    gap: 10px;
    background-color: #000000;
    color: #000000;
    width: 100%;
    height: 100%;
    flex-direction: column !important;
    align-items: right !important;
    justify-content: flex-start !important;
    padding: 9rem 0 !important;
    margin: 0 !important;
    transition: 1s;
    .item {
      padding: 0 !important;
    }
  }

  .menu_items.active {
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  .item {
    margin: 16px 0;
  }

  .wrapperMenu {
    width: 2rem;
    height: 2rem;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-in-out;
  }

  .info{
    .box{
      width: auto;
      padding: 1rem 1.6rem;

      h1{
        font-size: 2rem;
      }

      p{
        font-size: 0.8rem;
        text-align: left;
      }
    }
  }
}
