@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  cursor: url("assets/logo2.png"), auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  cursor: url("logo2.png"), auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#myVideo {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  padding: 2% 5.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home .navbar {
  width: 100%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .navbar .logo {
  z-index: 2;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  position: relative;
}

.home .navbar .logo img {
  height: 4rem;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-10000deg);
            transform: rotate(-10000deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-10000deg);
            transform: rotate(-10000deg);
  }
}

.home .navbar .menu {
  z-index: 2;
}

.home .navbar .menu .menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.home .navbar .menu .menu_items .item {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-right: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.home .navbar .menu .menu_items .item:hover {
  color: #b6b6b6;
}

.home .navbar .menu .menu_items a {
  text-decoration: none;
}

.home .navbar .menu .menu_items a .opensea_btn {
  border-radius: 2px 15px;
  padding: 1.35rem 1.65rem;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.5rem;
  border: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home .navbar .menu .menu_items .opensea_btn:hover {
  background-color: #bebebe;
}

.home .navbar .menu .menu_items .creator {
  display: none;
  font-size: 0.7rem;
  color: #ffffff;
}

.home .navbar .menu .menu_items .creator a {
  text-decoration: none;
  color: aqua;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.6rem;
}

.home .navbar .wrapperMenu {
  z-index: 2;
  display: none;
}

.home .navbar .wrapperMenu.active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home .navbar .line-menu {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.home .navbar .line-menu.half {
  width: 50%;
}

.home .navbar .line-menu.start {
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.home .navbar .active .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(3px);
          transform: rotate(-90deg) translateX(3px);
}

.home .navbar .line-menu.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.home .navbar .active .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
          transform: rotate(-90deg) translateX(-3px);
}

.home .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home .banner .banner_img {
  width: 55%;
  position: absolute;
  top: 40%;
  z-index: -1;
}

.home .social_buttons {
  width: 12rem;
  top: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .social_buttons .btn {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px 10px;
  width: 2.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.5rem;
  border: none;
  color: #343a48;
  cursor: pointer;
}

.info {
  margin-top: 2rem;
  padding: 2% 5.8%;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.info .box {
  color: #ffffff;
  background-color: #000000bb;
  padding: 3rem 3rem 1.8rem 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  position: relative;
}

@-webkit-keyframes move {
  0% {
    background-color: #001d3075;
    top: 80px;
  }
  25% {
    background-color: #0d963d73;
    top: 0px;
  }
}

@keyframes move {
  0% {
    background-color: #001d3075;
    top: 80px;
  }
  25% {
    background-color: #0d963d73;
    top: 0px;
  }
}

.info .box h1 {
  font-size: 3rem;
  font-weight: 500;
}

.info .box p {
  text-align: justify;
}

.about {
  background-color: #232528;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem 5.8%;
  margin-top: 2.3rem;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about .about_top img {
  max-width: 290px;
}

.about .about_desc {
  width: 60%;
  margin: 2rem 0;
  text-align: center;
}

.about .about_desc .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.about .about_desc .content hr {
  width: 28%;
  height: 5px;
  background-color: #ffffff;
}

.about .about_desc .content h1 {
  margin: 0 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.about .about_desc p {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  position: relative;
}

@-webkit-keyframes mover {
  0% {
    top: 70px;
  }
  25% {
    top: 0px;
  }
}

@keyframes mover {
  0% {
    top: 70px;
  }
  25% {
    top: 0px;
  }
}

.about .about_bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about img {
  max-width: 240px;
}

.sale_info {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("https://uploads-ssl.webflow.com/61d7fa117a0c437fe4d86908/61e597e7798c226bccedb81f_Metascapes-4.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://uploads-ssl.webflow.com/61d7fa117a0c437fe4d86908/61e597e7798c226bccedb81f_Metascapes-4.jpg");
  background-position: 0px 0px, 45% 15%;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem 5.8%;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale_info .sale_desc {
  width: 60%;
  margin: 2rem 0;
  text-align: center;
}

.sale_info .sale_desc .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.sale_info .sale_desc .content hr {
  width: 28%;
  height: 5px;
  background-color: #ffffff;
}

.sale_info .sale_desc .content h1 {
  margin: 0 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.sale_info a {
  text-decoration: none;
}

.sale_info a .buy_btn {
  border-radius: 2px 15px;
  padding: 1.35rem 1.65rem;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.5rem;
  border: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sale_info .buy_btn:hover {
  background-color: #bebebe;
}

@media screen and (max-width: 800px) {
  .menu_items {
    position: fixed;
    right: -200%;
    top: 0;
    gap: 10px;
    background-color: #000000;
    color: #000000;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: right !important;
        -ms-flex-align: right !important;
            align-items: right !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding: 9rem 0 !important;
    margin: 0 !important;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .menu_items .item {
    padding: 0 !important;
  }
  .menu_items .creator {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0;
  }
  .logo {
    position: fixed;
  }
  .menu_items.active {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
  .item {
    margin: 16px 0;
  }
  .wrapperMenu {
    right: 5.8%;
    width: 2rem;
    height: 2rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    -webkit-transition: -webkit-transform 330ms ease-in-out;
    transition: -webkit-transform 330ms ease-in-out;
    transition: transform 330ms ease-in-out;
    transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  }
  .info .box {
    width: auto;
    padding: 1rem 1.6rem;
  }
  .info .box h1 {
    font-size: 2rem;
  }
  .info .box p {
    font-size: 0.8rem;
    text-align: left;
  }
  .about .about_top img {
    max-width: 99px;
  }
  .about .about_desc {
    width: auto;
    margin-top: 2rem;
  }
  .about .about_desc .content hr {
    display: none;
  }
  .about .about_desc .content h1 {
    font-size: 2.1rem;
  }
  .about .about_bottom img {
    max-width: 82px;
  }
  .sale_info .sale_desc {
    width: auto;
    margin-top: 2rem;
  }
  .sale_info .sale_desc .content hr {
    display: none;
  }
  .sale_info .sale_desc .content h1 {
    font-size: 2.1rem;
  }
}
/*# sourceMappingURL=meta.css.map */